*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 50000px;
}

li{
    list-style-type: none;
    display:flex;
    padding: 10px;
}


.image-wrapper{
    width: 700px;
    height: 600px;

}
.bigImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper{
    height: 350px;
    overflow: scroll;
    

}

.img-holder{
    width: 70px;
    height: 70px;

}
.img-holder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.txt-holder{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.txt-holder i{
    display: none;
    cursor: pointer;
    
}
li:hover .txt-holder i{
 display: block;
}

li.active{

    background-color: tan;
}
li.active i{

    display: block;
}